.hidden{display:none;}

.site-subtitle{
+mobile() {
    display: none;
  }
}
body{color:#333;}

.footer{
+mobile() {
background:#555;
color:#ccc;
}
}
.footer-inner a{
+mobile() {
color:#ccc;
border-bottom-color:#ccc;
}
}
.footer-inner a:hover{
+mobile() {
color:#eee;
border-bottom-color:#eee;
font-weight:bolder;
}
}

.comments{
margin-bottom: 30px;
}

.site-author-name {
  font-size: 16px;
}

.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
.site-author-image:hover {
  border-radius: 0;
  border: 2px solid #ffeb3b;
}

@keyframe translate {
  from {
    -webkit-transform: translate(-9999px);
    -moz-transform: translate(-9999px);
    -ms-transform: translate(-9999px);
    -o-transform: translate(-9999px);
    transform: translate(-9999px);
  }
}
#wechat:hover p {
  animation: translate 0.5s infinite linear;
}
@-moz-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.site-nav-toggle{

}