.post-nav {
  overflow: hidden;
  margin-top: 60px;
  padding: 10px 3px;
  white-space: nowrap;
  border-top: 1px solid $gainsboro;
}

.post-nav-item {
  display: inline-block;
  width: 50%;
  white-space: normal;

  a {
    position: relative;
    display: inline-block;
    line-height: 25px;
    font-size: 14px;
    color: #0593d3;
    border-bottom: none;

    &:hover {
      color: #0477ab;
//      border-bottom: none;
    }

//    &:active { top: 2px; }

    i { font-size: 12px; }
  }

}

.post-nav-next {}

.post-nav-prev { text-align: right; }

//add by wuxubj
.post-nav-title-link {

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0477ab;
    visibility: hidden;
    transform: scaleX(0);
    the-transition();
  }

  &:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  .fa { font-size: 12px; }
}
