.tag-cloud {
  text-align: center;

  a {
    display: inline-block;
    margin: 15px;
//	border-bottom: none;
	&:hover {
    color: #000;
	font-weight: bold;
    border-bottom: 2px solid #000;}
  }
}